@media only screen and (max-width: 992px) and (min-width: 600px) {
  /* Header area styling */
  .top-bar {
    display: none;
  }

  .desktop-navbar {
    display: none;
  }

  .mobile-header {
    display: block;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }

  .mobile-logo {
    width: 120px;
    height: auto;
  }

  .main-menu-mobile {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: -100%;
    top: 70px;
    list-style: none;
    transition: 0.3s;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
  }

  .mobile-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .btn1 {
    width: 312px;
    order: 2;
    border: 1px solid #233c7b;
    text-align: center;
  }

  .btn2 {
    width: 312px;
    order: 1;
    text-align: center;
  }

  .main-menu-mobile.active {
    left: 0;
  }

  .search-icon-mobile {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  /* Humberger icon styling */

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 0 0 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #233c7b;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .humburger.active .bar:nth-child(1) {
    transform-origin: 0% 20%;
    transition: transform 0.3s ease-in-out;
    transform: rotate(45deg);
  }

  .humburger.active .bar:nth-child(3) {
    transform-origin: 20% 100%;
    transition: transform 0.3s ease-in-out;
    transform: rotate(-45deg);
  }

  .border-bottom {
    border-bottom: 1px solid #233c7b;
    padding-bottom: 10px;
  }

  /* Hero section styling */

  .banner-bg {
    display: none;
  }

  .banner-sm {
    display: block;
    width: 100%;
    height: auto;
  }

  /* Section 2 styling */

  .primary-heading {
    font-size: 30px;
  }

  .card-section {
    flex-direction: column;
    gap: 2.5rem;
  }

  .counter-number {
    font-size: 30px;
  }

  .counter-title {
    font-size: 24px;
  }

  /* Achiver section styling */

  .alogo4,
  .alogo5 {
    display: none;
  }

  .clogo-box {
    width: 32%;
  }

  /* Hall of fame styling */

  .section4-container {
    padding: 80px 15px;
  }

  .hall-Of-fame {
    max-width: 100%;
  }

  .hof-cards-container {
    justify-content: center;
    gap: 30px;
  }

  .hof-cards {
    width: 50%;
  }

  .hof-cards2,
  .hof-cards3 {
    display: none;
  }

  /* Live Program section styling */

  .course2,
  .course3 {
    display: none;
  }

  .sub-headeing {
    font-size: 16px;
  }

  .course-thumbnail {
    width: 100%;
  }

  .course-container {
    justify-content: center;
  }

  .courses {
    width: 60%;
  }

  /* Hackathon Gallery */

  .hackathon-image {
    width: 95%;
  }

  /* Product section styling */

  /* Product section styling */

  .our-product {
    max-width: 100%;
  }

  .op-row1 {
    flex-direction: column;
    gap: 80px;
  }

  .products {
    width: 50%;
    margin: 0 auto;
  }

  .products4,
  .products5 {
    width: 50%;
  }

  .op-row2 {
    width: 100%;
    flex-direction: column;
    gap: 80px;
  }

  /* Partner are styling */

  .partner-logo-area {
    flex-wrap: wrap;
  }

  .partner-logo {
    width: 30%;
    margin: 0 auto;
  }

  /* Footer are styling */

  .footer-container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
  }

  .footer-column {
    width: 90%;
  }
}
